# Ignorar tudo no diretório raiz
/*

# Permitir apenas estes itens no repositório
!README.md
!assets/
!docs/
!mkdocs.yml
!requirements.txt
!.github/
!.github/workflows/
!.github/workflows/deploy-docs.yml

# Permitir este próprio arquivo
!.gitignore
/docs/XX - Docs PIBIC/
